absl-py==0.8.1
astor==0.8.0
certifi==2022.12.7
gast==0.2.2
google-pasta==0.1.8
grpcio==1.16.1
h5py==2.9.0
joblib==0.14.1
Keras==2.2.4
keras-adaptive-softmax==0.6.0
keras-albert-model==0.1.0
Keras-Applications==1.0.8
keras-bert==0.80.0
keras-embed-sim==0.7.0
keras-layer-normalization==0.14.0
keras-multi-head==0.22.0
keras-pos-embd==0.11.0
keras-position-wise-feed-forward==0.6.0
Keras-Preprocessing==1.1.0
keras-self-attention==0.41.0
keras-transformer==0.31.0
Markdown==3.1.1
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
numpy==1.17.4
opt-einsum==3.1.0
pandas==0.25.3
protobuf==3.11.2
python-dateutil==2.8.1
pytz==2019.3
PyYAML==5.2
scikit-learn==0.22
scipy==1.3.2
six==1.13.0
tensorboard==1.15.0
tensorflow==1.15.0
tensorflow-estimator==1.15.1
termcolor==1.1.0
tqdm==4.40.2
webencodings==0.5.1
Werkzeug==0.16.0
wrapt==1.11.2
